<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title>Budget App</title>
</head>
<body>
    <div class="container">
        <h1><%= budget.name %></h1>
        <h4>Date</h4>
            <p><%= budget.date %></p>
        <h4>Name</h4>
            <p><%= budget.name %></p>
        <h4>From</h4>
            <p><%= budget.from %></p>
        <h4>Amount</h4>
            <p><%= budget.amount %></p>
        <h4>Tags</h4>
            <p><%= budget.tags %></p>
        <a href="/budgets"><button>Home</button></a>
    </div>
</body> 
</html>
